:root {
  --color-primary: linear-gradient(
    90deg,
    #dd902f 0%,
    rgba(212, 162, 100, 0.645833) 30.6%,
    #f6eb41 55.08%,
    #e6ac47 97.92%
  );

  --color-background: #000;
  --color-gray: #2e2d2d;
  --color-text: #898989;
  --color-text-hellobar: #000;
  --color-card: #dd902f;
  --color-btn: #3d3d3d;
  --color-white: #fff;
}

body {
  background-color: var(--color-background);
}

img {
  max-width: 100%;
  display: block;
}

body,
input,
select {
  font-family: "Archivo", sans-serif;
  color: #fff;
}

h1 {
  font-size: 4.4em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2.14em;
}

p {
  font-size: 1.2em;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-gray);
  border-radius: 30px;
}

.structure {
  display: grid;
  grid-template-areas:
    "helloBar"
    "header"
    "headline"
    "services"
    "engineer"
    "form"
    "footer";
}

.helloBar,
.services,
.engineer,
.footer-social {
  padding: 0px 10%;
}

/* HELLOBAR */
.helloBar {
  grid-area: helloBar;
  background: var(--color-primary);
}

.whatsapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.whatsapp span {
  color: var(--color-text-hellobar);
  font-size: 1.5em;
  font-weight: bold;
}

/* HEADER */
.header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.btn {
  background-color: var(--color-btn);
  padding: 12px 0px;
  border-radius: 10px;
}

.btn a {
  font-size: 1.7em;
  font-weight: bold;
  background: var(--color-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 273px;
  background-color: #fff;
  padding: 12px 60px;
}

/* HEADLINE */
.headline {
  grid-area: headline;
  background: url(/images/electric-background.png) no-repeat top;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.headlineContent {
  max-width: 550px;
  padding: 30px 10% 60px 10%;
  display: flex;
  flex-direction: column;
}

.headlineContent h1 {
  line-height: 1.5em;
  letter-spacing: 0.03em;
  font-weight: bolder;
}

.headlineContent p {
  font-size: 1.4em;
  color: var(--color-text);
  max-width: 350px;
  line-height: 1.5em;
  margin-bottom: 30px;
}

.btn-second {
  background: var(--color-primary);
  padding: 12px 0px;
  border-radius: 10px;
  max-width: 260px;
}

.btn-second a {
  font-size: 1.7em;
  font-weight: bold;
  color: var(--color-background);
  padding: 12px 58px;
}

/* SERVICES */
.services {
  grid-area: services;
  padding-top: 80px;
}

.services H2 {
  color: var(--color-white);
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 70px;
}

.services .card {
  width: 270px;
  height: 360px;
  border: 2px solid var(--color-card);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services .card1 {
  background: url(../images/building-electrical.png) no-repeat right;
  background-size: cover;
}

.services .card2 {
  background: url(../images/residential-electrical.png) no-repeat center;
  background-size: cover;
}

.services .card3 {
  background: url(../images/industrial-electrical.png) no-repeat right;
  background-size: cover;
}

.services .card4 {
  background: url(../images/electrical-commential.png) no-repeat right;
  background-size: cover;
}

.services .card p {
  font-size: 2em;
  color: var(--color-white);
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  overflow-x: auto;
  padding-bottom: 20px;
}

/* ENGINNER */
.engineer {
  padding-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title {
  grid-row: span 1;
  margin-bottom: 80px;
}

.caption {
  grid-column: 1;
  background: var(--color-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 273px;
  font-weight: bolder;
  margin-bottom: 50px;
}

.text {
  grid-column: 1;
  max-width: 400px;
  font-size: 1.4em;
  color: var(--color-text);
  line-height: 1.5em;
}

.image-enginner {
  grid-column: 2;
  grid-row: span 3;
}

/*  FORM */

.form {
  grid-area: form;
  margin-top: 80px;
}

.form-card {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: var(--color-card);
  border-radius: 5px;
  max-width: 500px;
  padding: 50px 50px 70px 70px;
  margin: 0 auto;
}

.form h3 {
  margin-bottom: 35px;
  background: var(--color-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 273px;
  font-weight: bolder;
}

.form-contato {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 35px;
}

.form-contato input {
  background: none;
  border: 1px solid;
  border-color: var(--color-card);
  border-radius: 5px;
  padding: 15px 15px;
}

.btn-third {
  background: var(--color-primary);
  font-size: 1.5em;
  font-weight: bold;
  padding: 12px 0px;
  border: none;
  border-radius: 5px;
  color: var(--color-background);
  cursor: pointer;
}

/* FOOTER */
.footer {
  grid-area: footer;
  background: var(--color-gray);
  margin-top: 60px;
  padding-bottom: 40px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.social {
  display: flex;
}

.social img {
  height: 55px;
}

.social li + li {
  margin-left: 20px;
}

.footer .copy {
  text-align: center;
  margin-top: 30px;
  font-size: 1em;
}

@media (max-width: 1000px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

@media (max-width: 600px) {
  /* HEADER*/
  .header {
    justify-content: center;
    align-items: center;
    padding: 12px 10%;
  }

  .header img {
    width: 90px;
  }

  .btn {
    padding: 12px 0px;
    display: none;
  }

  /* HEADLINE */
  .headlineContent h1 {
    line-height: 1.2em;
    font-size: 2.8em;
  }

  .headlineContent p {
    font-size: 1.2em;
    max-width: 300px;
    line-height: 1.2em;
  }

  .btn-second {
    max-width: 230px;
  }

  .btn-second a {
    font-size: 1.5em;
    padding: 12px 52px;
  }

  /* SERVICES*/

  .services {
    grid-area: services;
    padding-top: 50px;
  }

  .services H2 {
    color: var(--color-white);
    font-size: 2em;
    text-align: center;
    font-weight: 400;
    margin-bottom: 70px;
  }

  .card-container {
    grid-template-columns: 1fr;
    overflow-x: initial;
  }

  .services .card {
    width: 100%;
  }

  /* ENGINEER*/

  .engineer {
    padding-top: 50px;
    grid-template-columns: 1fr;
  }

  .title {
    grid-row: span 1;
    margin-bottom: 40px;
    font-size: 2em;
  }

  .caption {
    margin-bottom: 30px;
    font-size: 1.9em;
  }

  .text {
    grid-column: 1;
    max-width: 400px;
    font-size: 1.4em;
    color: var(--color-text);
    line-height: 1.2em;
    margin-top: 30px;
  }

  .image-enginner {
    grid-column: 1;
    grid-row: span 1;
  }

  /* FORM*/

  .form {
    grid-area: form;
    margin-top: 50px;
  }

  .form-card {
    border: none;
    max-width: 400px;
    padding: 20px 10%;
  }

  .form h3 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 2em;
  }

  .form-contato {
    gap: 15px;
  }

  /* FOOTER */

  .footer {
    padding-bottom: 40px;
  }

  .footer-social img {
    height: 90px;
  }

  .social img {
    height: 45px;
  }

  .social li + li {
    margin-left: 10px;
  }
}
